* {
    box-sizing: border-box;
}

body {
    background: red;
}

.container {
    width: 100%;
    max-width: 1000px;
    background: lawngreen;
    margin: 0 auto;
    padding: 0 10px;
}

.row {
    display: flex;
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    flex-wrap: wrap;
}

.col {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    padding: 5px;
}


.col-1:nth-child(even) {
    max-width: 25%;
    flex-basis: 25%;
}

.col-1:nth-child(odd) {
    max-width: 75%;
    flex-basis: 75%;
}
.yellow_block {
    height: 100%;
    background: yellow;
}

.col-2 {
    max-width: 50%;
    flex-basis: 50%;
}
.blue_block {
    height: 100%;
    background: blue;
}

.col-3 {
    max-width: 100%;
    flex-basis: 100%;
}

.pink_block {
    height: 100%;
    background: deeppink;
}

@media (max-width: 540px) {

    .col-1, .col-2 {
        max-width: 100%;
        flex-basis: 100%;
    }

}

@media only screen and (orientation: landscape) {
    .col {
        height: 150px;
    }
}

@media only screen and (orientation: portrait) {
    .col {
        height: 400px;
    }
}
